body {
background-color: hwb(187 29% 32% / 0.664);

color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #b68cca;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}